body {
  background-color: PeachPuff;
}
#profilePicture {
  border-radius: 180px;
}
hr {
  border-style: dotted none none;
  border-width: 5px;
  height: 0px;
  color: #143F6B;
}

h1 {
  color: #143F6B;
}

h3 {
  color: #143F6B;
}
